html, body {
	font-family: Montserrat;
	line-height: 1.4;
    font-size: 12px;
}







.label{
	font-size:.6rem;
	text-transform: uppercase;
}

.button {
    border-radius: 2px;
    cursor: pointer;
    display: table;
    font-size: 24px;
    text-transform: uppercase;
	-moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
    padding: 7px 10px;
    color: #b9b9b9;
}

.button.disabled {
	opacity:.3;
	pointer-events:none;
}

.button .icon {
    margin-right: 8px;
    display: table-cell;
    vertical-align: middle;
}

.button.green:hover,
.button:hover{
	background-color: #68cb95;
    color: white;
}

.button.green {
	background-color: #8DD8B1;
}

.button.red { 
	background-color: #E1917F;
}

.cancel.button:hover,
.delete.button:hover,
.button.red:hover {
	background-color: #da755f;
    color: white;
}


input, select{
	font-size:1.1rem;
	font-family:inherit;
}


.WindowPanel .titlebar > .title {
	color: #515254;
    line-height: 42px;
    text-transform: uppercase;
}


.WindowPanel .panel-content .title:first-child{
	/*height: 2em;
    line-height: 2.5rem;
    font-size: 1.2rem;*/
}


.WebApplication .heading {
	font-size: 1.2rem;
}

.WebApplication .subheading {
	font-size: .9rem;
}