.WebApplication.VideoDetails {
    height: 100%;
    width: 100%;
}

.WebApplication.VideoDetails .WebComponent.WindowPanel{
	height: 100%;
    width: 100%;
    left:0;
    top:0;
    right:auto;
    bottom:auto;
    background:rgba(255, 255, 255, 0.2);
}
.WebApplication.VideoDetails .button-bar .button {
	margin-left:5px;
}

.WebApplication.VideoDetails .button-bar{
    background:rgba(26, 57, 133, 0.8);
}
.WebApplication.VideoDetails .panel-content{
	color: #515254;
	font-family: OpenSans;
	font-size: 12px;
	line-height: 17px;
	-webkit-user-select: text;
    -khtml-user-select: text;
    -moz-user-select: text;
    -ms-user-select: text;
    user-select: text;
    background-color:transparent;
    top:0px;
}

.WebApplication.VideoDetails .Video{
    color: white;
}

.WebApplication.VideoDetails .Video .avatar{
    cursor: default;
}


.WebApplication.VideoDetails .WindowPanel .titlebar {
    display: none;
    /*box-shadow:0 3px 4px -1px rgba(0, 0, 0, 0.2);*/
}


.WebApplication.VideoDetails.coupon-mode #property-details {
    background: white;
    border: 2px dashed black;
    border-radius: 3px;
    bottom: 15px;
    left: 10px;
    overflow-y: scroll;
    position: absolute;
    right: 10px;
    top: 4px;
    box-shadow:0 0 2px 1px rgba(0, 0, 0, 0.3);
}



.WebApplication.VideoDetails #push-to-call-btn{
    height: 38px; 
    display: table; 
    width: 100%; 
    box-shadow: 0px 3px 2px 0px rgba(0, 0, 0, 0.3); 
    background: rgb(85, 116, 126); 
    z-index: 100;
    cursor: pointer;
}


.WebApplication.VideoDetails #push-to-call-container{
    color: white; 
    display: table-cell; 
    vertical-align: middle; 
    text-align: center; 
    font-family: Montserrat; 
    font-size: 12px;
}


.WebApplication.VideoDetails #push-to-call-container .fa-phone{
    vertical-align: middle; 
    font-size: 20px; 
    margin-right: 7px; 
    margin-left: 7px;
}

.WebApplication.VideoDetails #push-to-call-container #push-to-call-phone-number{
    color: rgb(255, 213, 3); 
    font-weight: bold;
}


.WebApplication.VideoDetails .Video:hover{
    background: none;
}


.WebApplication.VideoDetails.coupon-mode #push-to-call-btn{
    display: none;
}


.WebApplication.VideoDetails .Video .details.section{
    clear:both;
}


.WebApplication.VideoDetails #comments {
    padding: 10px;
}

.WebApplication.VideoDetails #comments .comment {
    margin-bottom: 20px;
}

.WebApplication.VideoDetails #comments .comment .name.heading {
    font-weight: bold;
}

.WebApplication.VideoDetails #comments .comment .comment-date {
    float: right;
    font-size:11px;
}
