
.WebApplication.SearchResults {
    height: 100%;
    width: 100%;
}

.WebApplication.SearchResults .WebComponent.WindowPanel{
	height: 100%;
    width: 100%;
    left:0;
    top:0;
    right:auto;
    bottom:auto;
    background: transparent;
}


.WebApplication.SearchResults .button-bar {
    background:rgba(26, 57, 133, 0.8) none repeat scroll 0 0;
    color: white;
}


.WebApplication.SearchResults .button-bar .button {
	margin-left:5px;
}

.WebApplication.SearchResults .titlebar{
    display: none;
}

.WebApplication.SearchResults .panel-content{
	color: #515254;
	font-family: Montserrat;
	font-size: 13px;
	line-height: 20px;
	-webkit-user-select: text;
    -khtml-user-select: text;
    -moz-user-select: text;
    -ms-user-select: text;
    user-select: text;
    top:0;
    box-shadow: 3px 3px 6px -1px rgba(0, 0, 0, 0.4) inset;
}


.WebApplication.SearchResults.editing .panel-content {
	background-color:white;
	-webkit-user-select: text;
    -khtml-user-select: text;
    -moz-user-select: text;
    -ms-user-select: text;
    user-select: text;
}


.WebApplication.SearchResults .results-listing ul li{
    cursor: pointer;
    min-height: 96px;
    margin-bottom: 20px;
}

.WebApplication.SearchResults .results-listing ul li:last-child{
    border-bottom:none;
}


.WebApplication.SearchResults .panel-content .results-listing {
    margin-bottom: 10px;
}



.WindowPanel#search-filter-dialog{
    bottom: auto;
    min-height: 240px;
    width: 85%;
    z-index: 100;
}



.WindowPanel#search-filter-dialog .filter-field {
    display: block;
    margin-bottom: 10px;
    overflow: hidden;
}


.WindowPanel#search-filter-dialog .filter-field select {
    float: right;
    min-width: 160px;
}

.WindowPanel#search-filter-dialog .filter-field label {
    line-height: 20px;
}




.WebApplication.SearchResults #scroll-spinner {
    height:40px;
    margin-bottom:10px;
    display: none;
}


.WebApplication.SearchResults .Video {
    color: white;
    border-radius: 3px;
}


.WebApplication.SearchResults .Video:hover {
    background-color: rgba(0, 255, 255, 0.3);
}
