
.WebApplication.Favorites {
    height: 100%;
    width: 100%;
}

.WebApplication.Favorites .WebComponent.WindowPanel{
	height: 100%;
    width: 100%;
    left:0;
    top:0;
    right:auto;
    bottom:auto;
}
.WebApplication.Favorites .button-bar .button {
	margin-left:5px;
}

.WebApplication.Favorites .panel-content{
	color: #515254;
	font-family: Montserrat;
	font-size: 13px;
	line-height: 20px;
	-webkit-user-select: text;
    -khtml-user-select: text;
    -moz-user-select: text;
    -ms-user-select: text;
    user-select: text;
    margin-bottom:58px;
}

.WebApplication.Favorites .results-listing > div {
    margin-bottom: 40px;
}

.WebApplication.Favorites .results-listing ul li{
	background: white none repeat scroll 0 0;
    margin-bottom: 6px;
    min-height: 50px;
    box-shadow:0px 1px 3px -1px rgba(0,0,0,.3);
    border-radius: 3px;
}

.WebApplication.Favorites .results-listing .Video {
    cursor: pointer;
}


.WebApplication.Favorites .results-listing .Video .deletion-checkbox{
    display: table-cell;
    vertical-align: top;
    width:24px;
}
.WebApplication.Favorites .results-listing .Video .deletion-checkbox input{
    float: right;
    height: 24px;
    margin: -2px 8px 0 0;
    padding: 0;
    width: 24px;
}

.WebApplication.Favorites .results-listing ul li:last-child{
    border-bottom:none;
}


.WebApplication.Favorites .results-listing .Video {
    padding: 10px;
}

.WebApplication.Favorites .Video .featured-banner {
    display: none;
}

.WebApplication.Favorites .Video .avatar {
    margin-bottom: 10px;
}


.WebApplication.Favorites .Video.selected {
    background: red !important;
}

.WebApplication.Favorites .Video.selected .description {
    color: white !important; 
}

.WebApplication.Favorites .Video.selected .price-tag {
    background: white !important;
}


.WebApplication.Favorites .Video .price-tag .quick-remove-button {
    background: white none repeat scroll 0 0;
    font-size: 32px;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    opacity: 0;
    will-change:transform;

    -webkit-transform: scale(0);
    -o-transform: scale(0);
    -moz-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);

    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    -ms-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    width: 100%;
}

.WebApplication.Favorites .Video .price-tag .quick-remove-button .icon{
    position: absolute; 
    height: 32px; 
    width: 32px; 
    top: 50%; 
    left: 50%; 
    margin-left: -16px; 
    margin-top: -16px;
}

.WebApplication.Favorites .Video.selected .price-tag .quick-remove-button{
    -webkit-transform: scale(1);
    -o-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    opacity: .93;
}


.WebApplication.Favorites .Video .name {
    font-size: 11px;
}
