.WebApplication.About {
    height: 100%;
    width: 100%;
}


.WebApplication.About .WebComponent.WindowPanel{
	height: 100%;
    width: 100%;
    left:0;
    top:0;
    right:auto;
    bottom:auto;
} 

.WebApplication.About .WebComponent.WindowPanel .panel-content {
	padding: 5px 20px 0px 20px;
	color: #515254;
    margin-bottom: 6px;
}

.WebApplication.About .WebComponent.WindowPanel .panel-content .about-body-text{
	font-family: OpenSans;
	padding-left: 20px;
	padding-bottom: 20px;
}


.WebApplication.About a:link {
    color:blue;
    font-weight:bold;
}

.WebApplication.About .panel-content p {
    margin-bottom: 20px;
}

.WebApplication.About #platforms .platform {
    font-size: 20px;
}
