.ApplicationBar .SearchBox {
    background: rgba(85, 85, 85, 0.2) none repeat scroll 0 0;
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
    box-shadow: 0 0 1px 0 rgba(0, 0, 0, 0.1);
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    height: 54px;
    position: absolute;
    top: 43px;
    width: 100%;
    left:0;
}


.ApplicationBar .SearchBox input {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,ffffff+49,ffffff+100&amp;0+0,0.52+49,0+100 */
	background: -moz-linear-gradient(45deg,  rgba(255,255,255,0) 0%, rgba(255,255,255,0.52) 49%, rgba(255,255,255,0) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(45deg,  rgba(255,255,255,0) 0%,rgba(255,255,255,0.52) 49%,rgba(255,255,255,0) 100%); /* Chrome10-25,Safari5.1-6 */
	background: rgba(0, 0, 0, 0) linear-gradient(45deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.15) 49%, rgba(255, 255, 255, 0) 100%) repeat scroll 0 0;
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#00ffffff',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
    border: medium none;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    color: white;
    float: left;
    height: 100%;
    outline: medium none;
    padding: 7px 56px 7px 16px;
    width: 100%;
    font-family: OpenSans;
    font-size: 12px;
    text-overflow: ellipsis;
    text-transform: uppercase;
    text-shadow: 1px 1px 0 rgba(0, 0, 0, 1);
}






.ApplicationBar .buttons > ul > li {
	border-left: 1px groove rgba(255, 255, 255, 0.6);
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    color: #ffffff;
    cursor: pointer;
    display: block;
    float: left;
    height: 100%;
    line-height: 0.6em;
    list-style: outside none none;
    min-width: 70px;
    opacity: 0.7;
    -webkit-perspective: 1000px;
	-moz-perspective: 1000px;
	-o-perspective: 1000px;
	-ms-perspective: 1000px;
    perspective: 1000px;
    position: relative;
}

.ApplicationBar .buttons ul li .fa {
    color: inherit;
    display: block;
    font-size: 20px;
    margin-top: 6px;
    text-align: center;
    text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.2);
}

.ApplicationBar .buttons .label {
    bottom: -3px;
    color: inherit;
    display: block;
    min-height: 15px;
    position: absolute;
    text-align: center;
    width: 100%;
    font-size: 0.6rem;
}

.ApplicationBar .buttons ul li.selected {
	border-top: none;
}

.ApplicationBar .buttons ul li.selected .fa {
	margin-top: 6px;
}

.SlidingMenu {
    float: right;
}

.ApplicationBar .StartMenu.active > .icon {
    width: 100%;
}

.ApplicationBar .buttons li ul{
	margin-top: 14px;
}

.ApplicationBar.alpha2 {
    background: rgba(111, 33, 144, 0.4);
}


.ApplicationBar #start-icon {
    display: table;
    background-color: transparent;
    cursor: pointer;
    float: left;
    font-size: 21px;
    height: 100%;
    position: relative;
    width: 60px;
    z-index: 1010;
}

.ApplicationBar #start-icon #start-icon-symbol{
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}
