.WebComponent.Notification {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0.75);
    border-radius: 2px;
    color: slategrey;
    margin-top: 6px;
    padding: 10px;
    border-left: 22px solid white;
    position:relative;
}

.WebComponent.Notification.NetworkOffline{
	border-left-color: #FFD600;
}

.WebComponent.Notification.Information,
.WebComponent.Notification.NetworkOnline{
	border-left-color: #58cb99;
}

.WebComponent.Notification.UserError,
.WebComponent.Notification.Warning{
	border-left-color: orange;
}

.WebComponent.Notification.NetworkError{
	border-left-color: #ff4500;
}

.WebComponent.Notification .icon{
	color: white;
    font-size: 14px;
    left: -20px;
    position: absolute;
    top: 9px;
}

.WebComponent.Notification .notification-title-bar {
	display: block;
    height: 16px;
    overflow: hidden;
}


.WebComponent.Notification .notification-message {
    color: rgba(255, 255, 255, 0.75);
    font-family: OpenSans;
    font-size: 11px;
    line-height: 15px;
    max-height: 33px;
    overflow-y: auto;
    padding-right: 13px;
}

.WebComponent.Notification .notification-title {
    color: skyblue;
    float: left;
    font-weight: bold;
    min-width: 152px;
}

.WebComponent.Notification .fa-close {
    color: white;
    float: right;
    margin-top: -2px;
    cursor:pointer;
    font-size:16px;
}

.WebComponent.Notification .fa-close:hover{
	-webkit-transform:scale(1.2);
    -o-transform:scale(1.2);
    -moz-transform:scale(1.2);
    -ms-transform:scale(1.2);
    transform:scale(1.2);
}

.WebComponent.Notification .fa-close:active{
	-webkit-transform:scale(1);
    -o-transform:scale(1);
    -ms-transform:scale(1);
    -moz-transform:scale(1);
    transform:scale(1);
}
