.Video {
    padding: 4px;
    position: relative;
    font-family: OpenSans;
    font-size: inherit;
    line-height: 17px;
}

.Video *{
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
}

.WebApplication .Video:hover {
    background-color: rgba(255,255,255,.6);
}


.WebApplication .Video .price-tag{
    background: rgba(255, 255, 255, 0.8);
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
    font-size: 23px;
    padding: 6px;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.2);
    width:104px;
    position: relative;
}

.WebApplication .Video .item-info{
    clear: both;
    display: table;
    width: 100%;
}

.WebApplication .Video .featured-banner{
    background-image: url(resources/images/featured-banner-sm.png); 
    width: 100px; 
    height: 100px; 
    background-repeat: no-repeat; 
    position: absolute; 
    z-index: 20;
    left: 0px; top: 0px;
}


.WebApplication .Video .price-tag .distance-tag{
    background: rgb(255, 213, 3);
    border-radius: 2px;
    color: white;
    font-size: 12px;
    margin-top: 4px;
    text-align: center;
}




.WebApplication .Video .avatar {
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
    background-size: cover;
    background-position: center center;
    border: 2px solid #FFFFFF;
    box-shadow: 0 2px 2px -1px rgba(0, 0, 0, 0.5);
    display: block;
    float: left;
    margin-top: 0;
    cursor: pointer;
    height: 36vh;
    text-align: center;
    width: 100%;
    position: relative;
    z-index: 10;
}

.WebApplication .overlay-buttons{
    bottom: 13px;
    color: white;
    display: inline-block;
    position: fixed;
    right: 26px;
    z-index: 500;
}
.WebApplication .overlay-buttons .overlay-button{
    display: block;
    clear: both;
}

.WebApplication .overlay-buttons .button:link {
    color: white;
    text-decoration: none;
}

.WebApplication .overlay-buttons .button:first-child{
    margin-top: 0;
}

.WebApplication .Video .description {
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
    display: table-cell;
    margin-top: 2px;
    padding-right: 10px;
    vertical-align: top;
}



.WebApplication .Video .additional-text {
    display: inline-block;
}


.WebApplication .Video .name{
    font-size: 16px;
    line-height: 20px;
    margin-bottom: 3px;
    margin-bottom: 10px;
}

.WebApplication .Video .details.section {
    border-bottom: 1px solid #cecece;
    padding-bottom: 10px;
    padding-top: 10px;

}

.WebApplication .Video .details.section .content{
    font-family: Verdana;
}

.WebApplication .Video .details.section .title {
    font-size: 12px;
    margin-bottom: 5px;
}

.WebApplication .Video .details.section ul {
    padding-left: 15px;
}


.WebApplication .Video #video.section .content{
    background: black none repeat scroll 0 0;
    border-radius: 4px;
    display: block;
    height: 200px;
    text-align: center;
    width: 100%;
    position: relative;
}


