<div>
	<div id="ui-helpwizard-overlay" action="closehelp"></div>
	<span id="help-skip-button">SKIP</span>
	<div id="ui-helpwizard-component-overlay">
		<div id="ui-helpwizard-component-overlay-tooltip">
			<div class="ui-helpwizard-arrow fa fa-caret-left"></div>
			<div namespace="core.ui.Button" class="previous arrow" data-increment="-1"><span class="fa fa-angle-left" data-increment="-1"></span></div>
			<div id="ui-helpwizard-tooltip-text">tooltip here</div>
			<div namespace="core.ui.Button" class="next arrow" data-increment="1"><span class="fa fa-angle-right" data-increment="1"></span></div>
		</div>
	</div>
</div>