.StartMenu {
    position: fixed;
    height:100%;
    width: 85%;
    left:0;
    overflow:visible;
    font-size:1rem;
    z-index: 100;
    color: #fff;
    will-change:transform;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: rgba(0,0,0,0);

    -moz-transform: translate3d(-400px, 0px, 0px);
    -o-transform: translate3d(-400px, 0px, 0px);
    -ms-transform: translate3d(-400px, 0px, 0px);
    -webkit-transform: translate3d(-400px, 0px, 0px);
    transform: translate3d(-400px, 0px, 0px);

    -webkit-transition: -webkit-transform 300ms cubic-bezier(0.860, 0.000, 0.070, 1.000);
   -moz-transition:     -moz-transform 300ms cubic-bezier(0.860, 0.000, 0.070, 1.000); 
     -o-transition:     -o-transform 300ms cubic-bezier(0.860, 0.000, 0.070, 1.000); 
        transition:     transform 300ms cubic-bezier(0.860, 0.000, 0.070, 1.000); /* easeInOutQuint */
}

.StartMenu > .canvas {
    height:inherit;
}

.StartMenu.active {
    -moz-transform: translate3d(0px, 0px, 0px) !important;
    -o-transform: translate3d(0px, 0px, 0px) !important;
    -ms-transform: translate3d(0px, 0px, 0px) !important;
    -webkit-transform: translate3d(0px, 0px, 0px) !important;
    transform: translate3d(0px, 0px, 0px) !important;
    box-shadow: 2px 0 2px 0 rgba(0, 0, 0, 0.4);
}

.StartMenu #start-menu-logo {
    cursor: pointer;
}

.StartMenu #start-menu-logo img {
    left: 50%;
    margin-left: -76px;
    margin-top: -26px;
    position: absolute;
    top: 50%;
    width: 150px;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    display: block;
}


.StartMenu #start-menu-panel {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#d8e0de+0,aebfbc+22,99afab+33,8ea6a2+50,829d98+67,4e5c5a+82,4e5c5a+100&amp;0.23+0,0.92+22,0.92+100 */
    background: -moz-linear-gradient(45deg,  rgba(216,224,222,0.23) 0%, rgba(174,191,188,0.92) 22%, rgba(153,175,171,0.92) 33%, rgba(142,166,162,0.92) 50%, rgba(130,157,152,0.92) 67%, rgba(78,92,90,0.92) 82%, rgba(78,92,90,0.92) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(45deg,  rgba(216,224,222,0.23) 0%,rgba(174,191,188,0.92) 22%,rgba(153,175,171,0.92) 33%,rgba(142,166,162,0.92) 50%,rgba(130,157,152,0.92) 67%,rgba(78,92,90,0.92) 82%,rgba(78,92,90,0.92) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(45deg,  rgba(216,224,222,0.23) 0%,rgba(174,191,188,0.92) 22%,rgba(153,175,171,0.92) 33%,rgba(142,166,162,0.92) 50%,rgba(130,157,152,0.92) 67%,rgba(78,92,90,0.92) 82%,rgba(78,92,90,0.92) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3bd8e0de', endColorstr='#eb4e5c5a',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
    bottom: 0px;
    position: absolute;
    top: 90px;
    width: 100%;
    z-index: 1000;
}

.StartMenu.active #start-menu-panel{
    left: 0;
}

.StartMenu #start-menu-panel ul {
    display:block;
    height:100%;
    overflow-y: auto;
}

.StartMenu #start-menu-panel ul li {
    border-bottom: 1px solid rgba(102, 103, 105, 0.1);
    color: inherit;
    cursor: pointer;
    font-size: inherit;
    line-height: 3.5rem;
    min-height: 36px;
    padding: 0.3rem 20px;
}

.StartMenu #start-menu-panel ul li:hover,
.StartMenu #start-menu-panel ul li:first-child {
    background-color: rgba(0, 0, 0, 0.2);
}

.StartMenu #start-menu-panel ul li .icon {
    font-size: 1.5rem;
    font-weight: normal;
    line-height: 46px;
    margin-right: 12px;
    pointer-events: none;
}


.StartMenu #start-menu-logo {
    background: white;
    height: 90px;
    position: relative;
    width: 100%;
}



.StartMenu .copy-right-statement {
    position: absolute; 
    bottom: 20px; 
    left: 20px; 
    right: 20px; 
    font-size: 9px; 
    text-align: center; 
    color: rgba(255, 255, 255, 0.6);
}

.StartMenu #start-menu-panel ul li .icon.fa-heart{
    color:#FA4C3B;
}
