.WebApplication.Desktop {
    height: 100%;
    width: 100%;
}

.WebApplication.Desktop .WebComponent.WindowPanel .button-bar {
	background: rgba(0, 0, 0, 0.5);
    /*display: none;*/
}

.WebApplication.Desktop .button-bar .button .icon {
    
}


.WebApplication.Desktop .WebComponent.WindowPanel .panel-content{
	top:0;
}

.WebApplication.Desktop .WebComponent.WindowPanel{
	height: 100%;
    width: 100%;
    left:0;
    top:0;
    right:auto;
    bottom:auto;
    background: transparent;
}


.WebApplication.Desktop #nearby-search-button {
    background: rgba(0, 0, 0, 0.4);
    border-radius: 3px;
    box-shadow: 0 0 0 1px rgba(255, 255, 255, 0.3);
    cursor: pointer;
    display: inline-block;
    font-size: 15px;
    overflow: hidden;
    padding: 12px 26px;
    position: relative;
    border: 1px dashed rgba(255, 255, 255, 0.7);
}

.WebApplication.Desktop #nearby-search-button:hover {
    background: rgba(0, 0, 0, 0.6);
}

.WebApplication.Desktop #nearby-search-button:active {
    -webkit-transform: scale(.9);
    transform: scale(.9)
}


.WebApplication.Desktop .panel-content #home-help-button {
    float: right; font-size: 24px; color: rgba(0, 0, 0, 0.3);
    cursor: pointer;
}


.WebApplication.Desktop .panel-content #home-help-button:hover{
    color: rgba(0, 0, 0, 0.7);
}



.WebApplication.Desktop #home-search-button-container{
    color: white; 
    font-size: 23px; 
    position: absolute; 
    left: 50%; 
    -webkit-transform: translate(-50%, -50%); 
    -moz-transform: translate(-50%, -50%); 
    -o-transform: translate(-50%, -50%); 
    -ms-transform: translate(-50%, -50%); 
    transform: translate(-50%, -50%); 
    width: 100%; 
    text-align: center; 
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5); 
    top: 40%;
}


.WebApplication.Desktop .copy-right-statement {
    bottom: 20px;
    color: rgba(255, 255, 255, 0.5);
    float: right;
    font-size: 9px;
    left: 10px;
    position: fixed;
    right: 10px;
    text-align: center;
    cursor: default;
}


.WebApplication.Desktop .copy-right-statement:hover{
    color: rgba(255, 255, 255, 0.5);
}
