.HelpWizard #ui-helpwizard-overlay{
	background: radial-gradient(ellipse farthest-corner at center center , rgba(0, 0, 0, 0.4) 0px, rgba(0, 0, 0, 0.9) 100%) repeat scroll 0 0 rgba(0, 0, 0, 0);
    opacity: 0;
    position: absolute;
    transition: all 0.3s ease-out 0s;
    z-index: 700000;
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    transition:opacity .5s;
}
.HelpWizard.active #ui-helpwizard-overlay{
	opacity:.8;
}


.HelpWizard #ui-helpwizard-component-overlay {
	position: fixed;
	left: 0px;
	top: 0px;
	width: 0px;
	height: 0px;
	z-index: 700001;
	background: rgba(255,255,255,.4);
	transition:all .3s;
	display:none;
	-webkit-transform:translate3d(0,0,0);
	transform:translate3d(0,0,0);
}

.HelpWizard #help-skip-button{
    pointer-events:none;
    cursor:pointer;
    position: absolute; 
    color: white; 
    display: block; 
    z-index: 700002; 
    bottom: 22px; 
    right: 29px;
}


.HelpWizard.active #ui-helpwizard-component-overlay{
	display:block;
}

.HelpWizard #ui-helpwizard-component-overlay-tooltip{
	background: none repeat scroll 0 0 white;
    border-left: 6px solid rgba(107, 203, 151, 1);
    border-right: 6px solid rgba(107, 203, 151, 1);
    border-radius: 3px;
    box-shadow: 0 0 7px 2px rgba(0, 0, 0, 0.4);
    /*display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;*/
    display: table;
    margin-top: 10px;
    padding: 6px;
    position: absolute;
    top: 100%;
}


.HelpWizard #ui-helpwizard-tooltip-text{
	font-family:OpenSans;
	-ms-flex:1 1 0;
	-webkit-flex:1 1 0;
	flex:1 1 0;
    min-width: 100px;
    padding: 0 15px;
    display:table-cell;
    vertical-align: middle;
}


.HelpWizard #ui-helpwizard-component-overlay-tooltip .ui-helpwizard-arrow {
	display: block;
    font-size: 23px;
    position: absolute;
}

.HelpWizard .arrow{
	left: auto;
    position: relative;
    right: auto;
    top: auto;
    border-radius:3px;
	z-index:700003;
}

.HelpWizard .arrow:hover {
    background-color: rgba(0, 0, 0, 0.5);
}

.helpon_relative {
	position:relative !important;
	z-index:700004 !important;
}

.helpon_static {
	position:static !important;
	z-index:700004 !important;
}

.helpon_absolute{
	position:absolute !important;
	z-index:4001 !important;
}

.helpon_fixed {
	position:fixed !important;
	z-index:700004 !important;
}


.HelpWizard #ui-helpwizard-component-overlay[data-cardinal-position*='north'] #ui-helpwizard-component-overlay-tooltip{
	bottom: 100%;
    margin-bottom: 10px;
    margin-top: 0;
    top: auto;
}

.HelpWizard #ui-helpwizard-component-overlay[data-cardinal-position*='south'] #ui-helpwizard-component-overlay-tooltip{
    margin-top: 10px;
    top: 100%;
}

.HelpWizard #ui-helpwizard-component-overlay[data-cardinal-position*='east'] #ui-helpwizard-component-overlay-tooltip{
	left: 100%;
    margin-left: 10px;
    margin-top: 0;
    top: 0;
}

.HelpWizard #ui-helpwizard-component-overlay[data-cardinal-position*='west'] #ui-helpwizard-component-overlay-tooltip{
   right: -14px;
}

.HelpWizard #ui-helpwizard-component-overlay[data-cardinal-position*='west'] #ui-helpwizard-component-overlay-tooltip .ui-helpwizard-arrow{
	color: white;
    right: 14px;
    top: auto;
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
}


.HelpWizard #ui-helpwizard-component-overlay[data-cardinal-position*='east'] #ui-helpwizard-component-overlay-tooltip .ui-helpwizard-arrow{
	left: -12px;
    top: 5px;
    color:rgba(107, 203, 151, 1);
}

.HelpWizard #ui-helpwizard-component-overlay[data-cardinal-position*='north'] #ui-helpwizard-component-overlay-tooltip .ui-helpwizard-arrow{
	bottom: -14px;
    color: white;
    left: auto;
    top: auto;
    -webkit-transform: rotate(-90deg);
    transform: rotate(-90deg);
    -webkit-transform-origin: center center 0;
    transform-origin: center center 0;
}


.HelpWizard #ui-helpwizard-component-overlay[data-cardinal-position*='south'] #ui-helpwizard-component-overlay-tooltip .ui-helpwizard-arrow{
	color: white;
    height: 16px;
    top: -11px;
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
    -webkit-transform-origin: center center 0;
    transform-origin: center center 0;
}
